<header class="header-container px-3 d-flex justify-content-between align-items-center border-bottom">
  <a routerLink="/"><h3>ShareFren</h3></a>
  <div class="header-user">
    <div *ngIf="loggedIn === true; else loginButton" class="d-flex justify-content-between align-items-center">
      <div>Hello, {{ user.firstName }}!</div>
      <div><button type="button" (click)="signOut()" class="btn btn-secondary btn-sm">Sign Out</button></div>
    </div>
    <ng-template #loginButton>
      <div *ngIf="loggedIn === false">
        <button type="button" (click)="signInWithGoogle()" class="btn btn-primary">Sign In With Google</button>
      </div>
    </ng-template>  
  </div>
</header>
<div class="page-container container">
  <router-outlet></router-outlet>
</div>

<footer class="footer-container justify-content-between d-flex align-items-center px-3 bg-dark text-light">
  <div>ShareFren</div>
  <div>Made for you, by <a class="text-light" href="https://chenxeed.com">@chenxeed</a></div>
  <a routerLink="/privacy-policy" class="text-light">Privacy Policy</a>
</footer>